@model JAPAN.ViewModels.ModeratorTecajViewModel
@{
    ViewData["Title"] = "Tecaj";
}

<h1>@Model.Tecaj.Naziv</h1>
<br />
<h3>@Model.Tecaj.Opis</h3>
<br />
<h3>Težina: @Model.Tecaj.Tezina.Naziv</h3>
<br />

<div class="sadrzaj-item">
    @if (Model.Tecaj.Tipsadrzaja.Naziv == "Tekst")
    {
        <p>@Model.Tecaj.Sadrzaj</p>
    }
    else if (Model.Tecaj.Tipsadrzaja.Naziv == "Markdown")
    {
        <div class="markdown-content">
            @Html.Raw(Markdig.Markdown.ToHtml(@Model.Tecaj.Sadrzaj))
        </div>
    }
    else if (Model.Tecaj.Tipsadrzaja.Naziv == "HTML")
    {
        <div class="html-content">
            @Html.Raw(@Model.Tecaj.Sadrzaj)
        </div>
    }
    else if (Model.Tecaj.Tipsadrzaja.Naziv == "Audio")
    {
        <audio controls>
            <source src="@Model.Tecaj.Sadrzaj" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    }
    else if (Model.Tecaj.Tipsadrzaja.Naziv == "Video")
    {
        <video controls>
            <source src="@Model.Tecaj.Sadrzaj" type="video/mp4">
            Your browser does not support the video element.
        </video>
    }
</div>
<br />
<div class="btn-group" role="group">
    <a class="btn btn-warning" asp-controller="Tecaj" asp-action="ModeratorTecajUredi" asp-route-id="@Model.Tecaj.Id">Uredi</a>
    <a class="btn btn-danger delete-button" data-tecaj-id="@Model.Tecaj.Id">Obriši</a>
</div>
<br/>
<br/>
<a class="btn btn-secondary" asp-controller="Tecaj" asp-action="ModeratorTecaji">Povratak</a>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script>
        $(function () {
            $(".delete-button").click(function () {
                var tecajId = $(this).data("tecaj-id");
                if (confirm("Jeste li sigurni da želite izbrisati ovaj tečaj?")) {
                    $.ajax({
                        url: "Obrisi/" + tecajId,
                        type: "DELETE",
                        success: function (response) {
                            window.location.href = "/Tecaji";
                        },
                        error: function (error) {
                            console.error("Greška u brisanju tečaja", error);
                        }
                    });
                }
            });
        });

    </script>
}
