@model JAPAN.ViewModels.ModeratorTecajViewModel
@{
    ViewData["Title"] = "Tecaj";
}

<h1>@Model.Tecaj.Naziv</h1>
<br />
<h3>@Model.Tecaj.Opis</h3>
<br />

<div class="sadrzaj-item">
    @if (Model.Tecaj.Tipsadrzaja.Naziv == "Tekst")
    {
        <p>@Model.Tecaj.Sadrzaj</p>
    }
    else if (Model.Tecaj.Tipsadrzaja.Naziv == "Markdown")
    {
        <div class="markdown-content">
            @Html.Raw(Markdig.Markdown.ToHtml(@Model.Tecaj.Sadrzaj))
        </div>
    }
    else if (Model.Tecaj.Tipsadrzaja.Naziv == "HTML")
    {
        <div class="html-content">
            @Html.Raw(@Model.Tecaj.Sadrzaj)
        </div>
    }
    else if (Model.Tecaj.Tipsadrzaja.Naziv == "Audio")
    {
        <audio controls>
            <source src="@Model.Tecaj.Sadrzaj" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    }
    else if (Model.Tecaj.Tipsadrzaja.Naziv == "Video")
    {
        <video controls>
            <source src="@Model.Tecaj.Sadrzaj" type="video/mp4">
            Your browser does not support the video element.
        </video>
    }
</div>
<br />
<div class="btn-group" role="group">
    <a class="btn btn-warning" asp-controller="Tecaj" asp-action="ModeratorTecajUredi" asp-route-id="@Model.Tecaj.Id">Uredi</a>
    <a class="btn btn-danger" asp-controller="Tecaj" asp-action="ModeratorTecajObrisi" asp-route-id="@Model.Tecaj.Id">Obriši</a>
</div>
<br/>
<br/>
<a class="btn btn-secondary" asp-controller="Tecaj" asp-action="ModeratorTecaji">Povratak</a>

