@model JAPAN.ViewModels.KorisnikIspitiViewModel
@{
    ViewData["Title"] = "Ispiti";
}

<h1 class="my-4">Ispiti</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Naziv</th>
            <th>Opis</th>
            <th>Težina</th>
            <th>Zadnji rezultat</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ispit in Model.Ispiti)
        {
            <tr>
                <td>@ispit.Naziv</td>
                <td>@ispit.Opis</td>
                <td>@ispit.Tezina.Naziv</td>
                <td>
                    @if (Model.Rezultati.ContainsKey(ispit.Id) && Model.Rezultati[ispit.Id] != null)
                    {
                        var rezultat = Model.Rezultati[ispit.Id];
                        var parts = rezultat.Split('/');
                        var score = double.Parse(parts[0]);
                        var total = double.Parse(parts[1]);
                        var percentage = (score / total) * 100;

                        <span class="badge
                            @(percentage >= 80 ? "badge-high" :
                              percentage >= 50 ? "badge-medium" :
                              "badge-low")">
                            @rezultat
                        </span>
                    }
                </td>
                <td>
                    <a class="btn btn-primary" asp-controller="Ispit" asp-action="KorisnikIspit" asp-route-id="@ispit.Id">Položi</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Povratak</a>
