@model JAPAN.ViewModels.ModeratorIspitiViewModel
@{
    ViewData["Title"] = "Ispiti";
}

<h1 class="my-4">Ispiti</h1>

<br />
<a class="btn btn-success" asp-controller="Ispit" asp-action="ModeratorIspitNovi">Novi ispit</a>
<br /><br />
<form id="orderForm" method="post" asp-controller="Ispit" asp-action="PromjeniPoredak">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Naziv</th>
                <th>Opis</th>
                <th>Težina</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="sortable">
            @foreach (var ispit in Model.Ispiti)
            {
                <tr data-id="@ispit.Id">
                    <td>@ispit.Naziv</td>
                    <td>@ispit.Opis</td>
                    <td>@ispit.Tezina.Naziv</td>
                    <td>
                        <a class="btn btn-success" asp-controller="Ispit" asp-action="ModeratorIspit" asp-route-id="@ispit.Id">Prikaži</a>
                    </td>
                    <td>
                        <a class="btn btn-warning" asp-controller="Ispit" asp-action="ModeratorIspitUredi" asp-route-id="@ispit.Id">Uredi</a>
                    </td>
                    <td>
                        <a class="btn btn-danger delete-button" data-ispit-id="@ispit.Id">Obriši</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <div class="btn-group" role="group">
        <button type="submit" class="btn btn-primary">Spremi poredak</button>
        <button type="button" id="restoreOrder" class="btn btn-dark">Vrati poredak</button>
    </div>
</form>
<br />
<a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Povratak</a>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script>
        $(function () {
            var originalOrder = $("#sortable").html();

            $("#sortable").sortable();
            $("#sortable").disableSelection();

            $("#orderForm").on("submit", function (e) {
                e.preventDefault();
                var order = [];
                $("#sortable tr").each(function (index, element) {
                    order.push({
                        Id: $(element).data("id"),
                        Pozicija: index + 1
                    });
                });
                originalOrder = $("#sortable").html();

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("PromjeniPoredak", "Ispit")",
                    contentType: "application/json",
                    data: JSON.stringify(order),
                    success: function (response) {
                        alert("Poredak uspješno promijenjen!");
                    },
                    error: function (error) {
                        console.error("Greška u promjeni poretka", error);
                    }
                });
            });

            $("#restoreOrder").on("click", function () {
                $("#sortable").html(originalOrder);
                $("#sortable").sortable("refresh");
            });

            $(".delete-button").click(function () {
                var ispitId = $(this).data("ispit-id");
                if (confirm("Jeste li sigurni da želite izbrisati ovaj ispit?")) {
                    $.ajax({
                        url: "Ispiti/Obrisi/" + ispitId,
                        type: "DELETE",
                        success: function (response) {
                            window.location.href = "/Ispiti";
                        },
                        error: function (error) {
                            console.error("Greška u brisanju ispita", error);
                        }
                    });
                }
            });
        });
    </script>
}

