@model JAPAN.ViewModels.UserProfileViewModel
@{
    ViewData["Title"] = "Profil";
}

<h1>Korisnički profil</h1>
<br />
<div>
    <dl class="row">
        <dt class="col-sm-3">Korisničko ime:</dt>
        <dd class="col-sm-9">@Model.Korisnik.Korisnickoime</dd>

        <dt class="col-sm-3">Email:</dt>
        <dd class="col-sm-9">@((Model.Korisnik.Email != null) ? Model.Korisnik.Email : "")</dd>

        <dt class="col-sm-3">Ime:</dt>
        <dd class="col-sm-9">@((Model.Korisnik.Ime != null) ? Model.Korisnik.Ime : "")</dd>

        <dt class="col-sm-3">Prezime:</dt>
        <dd class="col-sm-9">@((Model.Korisnik.Prezime != null) ? Model.Korisnik.Prezime : "")</dd>

        <dt class="col-sm-3">Datum rođenja:</dt>
        <dd class="col-sm-9">@((Model.Korisnik.DatumRodenja != null) ? Model.Korisnik.DatumRodenja.Value.ToString("yyyy-MM-dd") : "")</dd>

        <dt class="col-sm-3">Preporučena težina:</dt>
        <dd class="col-sm-9">@((Model.Korisnik.Preporuka != null) ? Model.Korisnik.Preporuka : "")</dd>

        <dt class="col-sm-3">Uloga:</dt>
        <dd class="col-sm-9">@Model.Korisnik.Uloga?.Naziv</dd>
    </dl>
</div>